@model TatBlog.WebApp.Areas.Admin.Models.PostFilterModel
@{
    ViewData["PageTitle"] = "Danh sách bài viết";
    var postsList = ViewBag.PostsList as IPagedList<Post>;
    var stateList = new List<SelectListItem>
    {
        new SelectListItem("Co", "true"),
        new SelectListItem("Khong", "false"),

    };
}


<h1>
    Danh sách bai viet
</h1>   
<!-- hiển thị form để tìm bài-->
<partial name="_PostFilterPane" model="Model"/>

@if (postsList != null && postsList.Count>0)
{
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Tiêu đề</th>
                <th>Tác giả</th>
                <th>Chủ đề</th>
                <th>Xuất bản</th>
                <th>Xóa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in postsList)
            {
                <tr>
                    <td>
                        <a asp-area="Admin"
                        asp-controller="Posts"
                        asp-action="Edit"
                        asp-route-id="@post.Id"
                        class="Text-bold">
                        @post.Title
                        </a>

                        <p class="text-muted">
                            @post.ShortDesciption
                        </p>
                    </td>
                    <td>
                        @post.Author.FullName
                    </td>
                     <td>
                        @post.Category.Name
                    </td>
                    <td>
                        <a 
                            asp-area="Admin"
                            asp-controller="Posts"
                            asp-action="TogglePublished"
                            asp-route-id="@post.Id"  class="btn btn-sm @(post.Publisded ? "btn-success" : "btn-danger")">
                            @if (post.Publisded)
                            {
                                <i class="fa fa-check"></i>
                            }
                            else
                            {
                                <i class="fa fa-times"></i>
                            }
                        </a>
                    </td>
                    <td>
                        <a 
                            asp-area="Admin"
                            asp-controller="Posts"
                            asp-action="DeletePost"
                            asp-route-id="@post.Id" class="btn btn-sm btn-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_AdminPager" model="@postsList" />
}
else
{
    <h1 class="text-danger">
        khong tim thay bai viet nao
    </h1>
}
