@model Post

<div class="main">
    <div class="card-body">
        <a>
            <h5 class="card-title">
                @Model.Title;
            </h5>
            <h6>
                @Model.Id,
                @Model.ShortDesciption,
                @Model.PostedDate,
                @Model.Viewcount,
                @Model.Category.Name
                @Model.Author.FullName;
            </h6>

        </a>
    </div>

</div>
